* {
    box-sizing: border-box;
    margin:0;
    padding: 0;
}


@import url('https://fonts.googleapis.com/css?family=Vollkorn+SC&display=swap');



#header {
    position: absolute;
    z-index: 10;
    width: 100%;

}

.container-nav {
    position: relative;
    top: 1%;
}

#logo-icon {
    height: 8%;
    width: 8%;
}

/* .navbar {
    padding: 50px 0;
} */

.navbar-brand {
    font-weight: 600;
    font-size: 1.5em;
    color: black;
}

/* .navbar-dark .navbar-brand{
    color:#dcdde1;
}
 */
.nav-item {
    font-weight: 600;
    text-transform: uppercase;
    padding-top: 10px;
}





.main {
    position : relative;
    background: url(../images/image1.jpg);
    min-height: 100vh;
    background-size:cover ;
    background-position: center;
    padding: 220px 0 200px;
}

.main h2 {
    margin: 0;
    padding: 0;
    font-size: 2.6em;
    color: black;
    text-shadow: -31px -12px 0px rgba(0,0,0,0.25);

    font-weight: bold;
    font-family: 'Vollkorn SC', serif;
}

.main p {
    margin-top: 1em;
    padding: 0;
    font-size: 1em;
    color: white;
    text-shadow: 0px -1px 30px #000000;
}

.main .btn {
    background: #718093;
    border-radius: 0;
    padding-left: 20px;
    padding-right: 20px;
}



.container-about {
    display: flex;
}

.jumbotron {
    margin-top: 100px;
}

.jumbotron #image1 {
    width: 30em;
    height: 30em;
    text-align: center;
    padding-left: 8em;
}

.jumbotron .heading {
    text-align: center;
    
}
/* Start of Gallery */
.container-gallery {
   margin-top: 0px;
   
}

.navbar-gallery {
    margin-top: 0px;
}

.gallery {
    height: 100%;
    width: 100%;
    margin-left: 5px;
    margin-top: 100px;
    padding-top: -5px;
    transition: .3s;

}
.row {
/*     background-color: indigo; */
    margin-top: 0px;
}


.comics-img1 img {
  /*   position: relative; */
    overflow: hidden;
    width: 100%;
    transition: .4s;
}
.single-comics:hover .comics-img1{
    transform: scale(1.1,1.1);
 
}

.comics-price p {
    text-align: center;
    color: white;
    font-size: 30px;
}

.content-comic {
    height: 80px;
    width: 88%;
    margin-left: 3%;
    overflow: hidden;
    text-align: center;
    position: absolute;
    bottom: 0;
    transition: all;
    background: #c5d5ea;
    opacity: 0.3;

}

.content-comic:hover {
    transform: scale(1.1,1.1);

}
/* End of Gallery */



.container-contact {
    margin-top: 0px;
  /*   max-width: 1170px; */
  /*   margin-left: auto;
    margin-right: auto; */
    background: white;
    color: #485e74;
    line-height: 1.6;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    padding: 1em;

    
}

ul {
    list-style: none;
    padding: 0;
}

.contact-us {
    text-align: center;
}

.wrapper {
    box-shadow: 0 0 20px 0 rgba(72, 94, 116, 0.7);
}

.wrapper > * {
    padding: 1em;
}

.contact-info {
    background: #ffe6d7;
    margin-top: 100px;


}
.contact-info h3, .contact-info ul{
    text-align: center;
    margin: 0 0 1rem 0;
}

.contact-details {
    background: #b2cdc8;
}

.contact-details form {
display: grid;
grid-template-columns: 1fr 1fr;
grid-gap: 20px;
}

.contact-details form label {
    display: block;
}

.contact-details form p {
    margin: 0;
}

.contact-details .full{
    grid-column: 1/3;
}

.contact-details form button, .contact-details form input, .contact-details form textarea{
    width: 100%;
    padding: 1em;
    border: 1p solid-black;
}
.full button {
    background: #bbe8d6;
    border: 0;
    text-transform: uppercase;
}

.full button:hover, .full button:focus {
background: white;
transition: background-color 2s;
}


@media(max-width: 768px){
    .main {
        padding: 200px 0;
    }
.main h2 {
    font-size: 2em;
}
}